{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Part exchange
{% endblock %}

{% form_theme form _self %}
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-5
{%- endblock form_group_class %}
{% block form_row -%}
    {% if form.vars.attr.heading is defined %}
        <div class="form-group">
            <label class="red control-label {{ block('form_label_class') }}">{{ form.vars.attr.heading }}</label>
        </div>
    {% endif %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{% block body %}
    <div class="exchange contact">
        <div class="row">
            <h1>Contact us</h1>
        </div>
        <div class="row">
            {{ form(form, {'attr': {'action': path('contact'), 'novalidate': 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery.js'
    '@AppBundle/Resources/public/js/bootstrap.js'
    '@AppBundle/Resources/public/js/contact.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}