{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Location
{% endblock %}

{% form_theme form _self %}
{% block form_label_class -%}
    col-sm-4
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-5
{%- endblock form_group_class %}

{% block body %}
    <div class="location exchange">
        <div class="row">
            <h1>Location</h1>
            <!--<h3>Heath Park</h3>-->
            <p>Essex Way, Hoddesdon, Hertfordshire, EN11 0DU</p>
            {{ form(form) }}
            <div id="directions"></div>
            <div id="map"></div>
        </div>
    </div>
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="error-modal-label">Sorry, we have a problem.</h2>
                </div>
                <div class="modal-body">
                    <p>
                        We are unable to display directions based on location data you provided.
                        Please specify more detailed location information or try entering your postcode.
                        If that does not help, please let us know about it using our <a href="{{ path('contact') }}">contact form</a>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function initMap() {
            var hotSpot = {lat: 51.760255, lng: 0.003708};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: hotSpot,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.TOP_CENTER
                }
            });
            var contentString = '<div><h2 class="gm-title">{{ title }}</h2><address>{{ postcode }}</address></div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                position: {lat: 51.760255, lng: 0.003708}
            });
            infowindow.open(map);
            map.setCenter(new google.maps.LatLng('51.760255', '0.003708'));
            var marker = new google.maps.Marker({
                position: hotSpot,
                map: map
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer({
                draggable: true,
                map: map,
                panel: document.getElementById('directions')
            });

            $(document).ready(function () {
                (function () {
                    var form = $('.location form');
                    var formOrigin = $('#form_origin');
                    form.submit(function (e) {
                        e.preventDefault();
                        var origin = $.trim(formOrigin.val());
                        if (!origin) {
                            return;
                        }
                        displayRoute(origin, directionsService, directionsDisplay);
                        return;
                    });
                    formOrigin.keyup(function () {
                        if (!$.trim($(this).val())) {
                            $('#total, #directions').html('');
                        }
                    });
                })();
            });
        }

        function displayRoute(origin, service, display) {
            service.route({
                origin: origin,
                destination: '{{ postcode }}',
                waypoints: [],
                travelMode: 'DRIVING',
                avoidTolls: true,
                unitSystem: google.maps.UnitSystem.IMPERIAL
            }, function (response, status) {
                if (status === 'OK') {
                    display.setDirections(response);
                } else {
                    $('#error-modal').modal();
                }
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&callback=initMap"></script>
{% endblock %}
